body {
    background: #212121;
    background-size: cover !important;
    -webkit-background-origin: border !important;
    min-height: 100vh;
    padding-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
}

fieldset {
    border: none !important;
}

h1, h2, h3, h4, h5, p, input {
    color: white !important;
}

p {
    font-size: 14pt;
}

.nav-wrapper li {
    padding-left: 10px;
    padding-right: 10px;
}

span.title {
    font-weight: bold;
}

.dark-panel{
    background: #333333 !important;
}

.darkest {
    background: #111111 !important;
}

.collection {
    background: inherit !important;
    border: none !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
}

.collection-item {
    color: white;
}

.collection-item .row{
    margin-bottom: 0;
    padding-right: 0;
    margin-right: -3rem;
}

.collection-header h5 {
    font-size: 1.24rem !important;
    margin: .8rem 0 .3rem .5rem !important;
}

.collection .collection-item.avatar {
    padding-left: 10px !important;
}

.card-content {
    padding: 10px !important;
}

